* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: black;
    color: whitesmoke;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.star-rating{
    margin-top: 30px;
}
.rate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
}
.fa-regular{
    font-size: 50px;
    cursor: pointer;
}
.active{
    color: gold;
}
